html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #c1c1c1;
  font-family: 'Play', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

p,
li,
span,
label,
input,
textarea,
div {
  color: #4b5156;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.s1 {
  background-color: #15202B;
  border-bottom: 1px solid #c1c1c1;
  overflow: auto;
}

.s2 {
  background-color: #192734;
  border-bottom: 1px solid #c1c1c1;
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: #192734;
  border: 1px solid #c1c1c1;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 8px -7px 13px -2px rgba(0, 0, 0, 0.73);
          box-shadow: 8px -7px 13px -2px rgba(0, 0, 0, 0.73);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav-wrapper;
  border-bottom: 1px solid #c1c1c1;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #15202B;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

#dot-2 {
  background-color: #EEBF64;
}

#dot-3 {
  background-color: #79BF62;
}

.browser-dot {
  background-color: #DD7164;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-column;
  padding: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  height: 250px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #c1c1c1;
}

.theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid #24292e;
  background-color: black;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#dark-mode {
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#green-mode {
  background-color: #78866b;
}

#synth-mode {
  background: #c94b4b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#4b134f), to(#c94b4b));
  background: linear-gradient(to right, #4b134f, #c94b4b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#theme-options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: right-column;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

#preview-shadow {
  background-color: #f0ead6;
  width: 300px;
  height: 180px;
  padding-left: 30px;
  padding-top: 30px;
}

#preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: rgba(251, 249, 243, 0.8);
  padding: 15px;
  position: relative;
}

@media screen and (max-width: 800px) {
  #preview {
    padding: 0;
  }
}

.corner {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: relative;
}

#corner-tl {
  top: -20px;
  left: -20px;
}

@media screen and (max-width: 800px) {
  #corner-tl {
    top: -5px;
    left: -5px;
  }
}

#corner-tr {
  top: -30px;
  right: -310px;
}

@media screen and (max-width: 800px) {
  #corner-tr {
    top: -15px;
    right: -295px;
  }
}

#corner-bl {
  bottom: -20px;
  left: -20px;
}

@media screen and (max-width: 800px) {
  #corner-bl {
    bottom: -5px;
    left: -5px;
  }
}

#corner-br {
  bottom: -30px;
  left: 310px;
}

@media screen and (max-width: 800px) {
  #corner-br {
    bottom: -15px;
    left: 295px;
  }
}

.about-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f0ead6;
}

.social-links {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

#social_img {
  width: 100%;
}

.project-header {
  text-align: center;
}

.post-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (320px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: 8px -7px 13px -2px rgba(0, 0, 0, 0.73);
          box-shadow: 8px -7px 13px -2px rgba(0, 0, 0, 0.73);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

.contact-header {
  text-align: center;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 5px;
  background-color: #15202B;
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #192734;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: black;
  border: none;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
  }
  .right-column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/*# sourceMappingURL=dark.css.map */