$mainColor: #eaeaea;
$secondaryColor: #fff;
$mainText: #fff;
$secondaryText: #eeeeee;
$borderColor: #164d56;
$themeDotBorder: #24292e;
$previewBg: rgba(251, 249, 243, 0.8);
$previewShadow: #f0ead6;
$btnColor: black;


html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: $mainText;
    font-family: 'Play', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

p,
li,
span,
label,
input,
textarea,
div {
    color: $secondaryText;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.s1 {
    background-color: $mainColor;
    border-bottom: 1px solid $borderColor;
    overflow: auto;
}

.s2 {
    background-color: $secondaryColor;
    border-bottom: 1px solid $borderColor;
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: $secondaryColor;
    border: 1px solid $borderColor;
    border-radius: 5px 5px 0 0;
    box-shadow: 8px -7px 13px -2px rgba(0, 0, 0, 0.73);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper {
    grid-area: nav-wrapper;
    border-bottom: 1px solid $borderColor;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor;
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-2 {
    background-color: #EEBF64;
}

#dot-3 {
    background-color: #79BF62;
}

.browser-dot {
    background-color: #DD7164;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
    grid-area: left-column;
    padding: 50px;
}

#profile_pic {
    display: block;
    margin: 0 auto;

    height: 250px;
    width: 200px;
    object-fit: cover;
    border: 2px solid $borderColor;
}

.theme-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid $themeDotBorder;

    background-color: black;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    cursor: pointer;
}

.theme-dot:hover {
    border-width: 5px;
}

#light-mode {
    background-color: #fff;
}

#dark-mode {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#green-mode {
    background-color: #78866b;
}

#synth-mode {
    background: #c94b4b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;

    padding-top: 50px;
    padding-bottom: 100px;
}

#preview-shadow {
    background-color: $previewShadow;
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: $previewBg;
    padding: 15px;
    position: relative;

    @media screen and (max-width: 800px) {
        padding: 0;
    }
}

.corner {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: relative;
}

#corner-tl {
    top: -20px;
    left: -20px;

    @media screen and (max-width: 800px) {
        top: -5px;
        left: -5px;
    }
}

#corner-tr {
    top: -30px;
    right: -310px;

    @media screen and (max-width: 800px) {
        top: -15px;
        right: -295px;
    }
}

#corner-bl {
    bottom: -20px;
    left: -20px;

    @media screen and (max-width: 800px) {
        bottom: -5px;
        left: -5px;
    }
}

#corner-br {
    bottom: -30px;
    left: 310px;

    @media screen and (max-width: 800px) {
        bottom: -15px;
        left: 295px;
    }
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: $previewShadow;
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img {
    width: 100%;
}

.project-header {
    text-align: center;
}

.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid $borderColor;
    box-shadow: 8px -7px 13px -2px rgba(0, 0, 0, 0.73);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}

.contact-header {
    text-align: center;
}

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid $borderColor;
    padding: 15px;
    border-radius: 5px;
    background-color: $mainColor;
    margin-bottom: 50px;

    label {
        line-height: 2.7em;
    }

    textarea {
        min-height: 100px;
        font-size: 14px;
    }
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $secondaryColor;
    border-radius: 5px;
    border: 1px solid $borderColor;
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: $btnColor;
    border: none;
}






@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column';
    }

    .right-column {
        justify-content: center;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}